:root{

    --blue: #2980b9;
    
    
    
    font-family: 'Open Sans' , sans-serif;
    margin: 0;
    
    padding: 0; 
    
    box-sizing: border-box;
     text-decoration: none;
     transition: all .2s cubic-bezier (.37,1.14, .26,1,1.24);
    
} 
*::selection{
    
    background: #ff3300;
    color: #fff;
    
}
    
    html
    { 
    
    font-size: 62.5%;
    
    overflow-x: hidden;
    
    background-color: rgba(0, 0, 0, .1);
    
    }
    .header-1{
    
    background-color: #f2f2f2;
    background: url(website/all/back.jpg) no-repeat;
    background-blend-mode: multiply;
    
    
    background-size: cover;
    
    background-attachment: fixed;
    padding: 4rem 1rem;
    text-align: center;
    
}
header .header-1{

    display: flex;
    
    align-items: center;
    
    justify-content: space-between;
    
    padding: 1.5rem;
    width: 100%;   
    z-index: 10;
    
    }
    header .header-1 .logo{
    
    font-size: 2rem;
    
    color: #427202;
    
    }
    
    header .header-1 .logo img{ 
        width: 20rem;
    
    }
    
    .btn{
    
    background-color: #1d4354;
    
    color: #fff;
    
    padding: .4rem .8rem;
    
    font-size: 1.6rem;
    
    cursor: pointer;
    border-radius: .6rem;
    
    margin-top: 1rem;
    
    }  .offer #pr{

        font-size: 2rem;
        
        color: black;
        
        font-weight: bold;
         margin: 1rem;
        
        }    
        .offer #pr:hover{
             color: green;
        
        }
        
        .content {
        
        width: 90%;
        
        float: left ;
        
        margin-top: 8rem;
        
        display: flex;
        
        margin-left: 11rem; 
        padding: 1rem;
        
        } 
        .header-2{
            font-size: 2.5rem; 
            height: 2rem;
        
        }
        .navbar ul{
        
        list-style: none;
        
        margin: 0;
        
        padding: 0; 
        overflow: hidden;
        background: #2cdd4a;

        position: -webkit-sticky; 
        position: sticky;
        
        top: 0;
        
        box-shadow: rgba(0, 0, 0, 0.35) 0rem .5rem 1.5rem;
        
        z-index: 20000;
        
        }
        
        .navbar ul li{
        
        float: left;
        
        }
        
        .header-2 .navbar a{
            display:block; 
            text-align: center; 
            padding: 1.3rem 1.6rem; 
            text-decoration: none; 
            color: #fff;
        }
        .navbar .active{
             background-color: #09a02c;
        
        } 
        .header-2 #{        
            font-size: 3rem;
        
            color: #fff;
        
            cursor: pointer; 
            display: none;
        
    }       
    .header-2 .header .active{
        
        position: fixed;
        
        top: 0;
        
        Left: 0;
        box-shadow: 0.1rem .3rem rgba(0, 0, 0, .3);

        color: khaki;

}

.menu{

    font-size: 1.5rem;

    float: right; 
    margin-top: 1rem;

} 
.navbar-toggle span{ 
    float: left;
}
/*Home Section Start */
.home{
    background-color: #ffffff;
    margin: auto; width: 80%;
    margin-top: 3rem;
    border-top-left-radius: 4.5rem;
    border-top-right-radius: 4.5rem;
    padding-bottom: 2rem;
    }
    .heading {
    border-bottom: .4rem solid #1d4354;
    }
    .heading span{
    font-size: 36px;
    font-weight: 100;
    color: #fff;
    background: #1d4354;
    border-top-right-radius: 45rem;
    border-bottom-Left-radius: 1rem;
    border-bottom-right-radius: 1;
    border-top-right-radius: 45rem;
    display: inline-block;
    width: 100%;
    text-align: center;

}

.slideshow-container {
max-width: 140rem;
height: 40rem;
position: relative;
margin: auto;
}
margin-top: 3rem;
box-shadow: rgba(6, 24, 44, 0.4) Orem Orem Orem 2rem, rgba(6, 24, 44, 0.65) Orem .4rem .6rem -0.1rem,
rgba(255, 255, 255, 0.08) Orem .1rem 0rem;
z-index: 0;
margin-bottom: 2rem;
.slideshow-container img{
z-index: 0;
display: flex;
}
margin-top: -1.3rem;
margin-left: -1.6rem;
.dot {
cursor: pointer;
height: 10px;
width: 10px;
margin: 0 2px;
background-color: #bbb;|
}